.main_hero_container{
    width: 70vw;
    height: 200vh;
    background-color: #13263a;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
}

.hero_text_container{
    margin-top: 10rem;
    gap: 4rem;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.hero_text_container img{
    width: 100px;
    height: 100px;
}


iframe {
    width: 100%;
    margin-right: auto;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
}
