.Full_app_body{
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* animation for mouse cursor follow */

.mouse_follow_box {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ef476f;
    backdrop-filter: blur(5px);
    border-radius: 50%;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
  }
  
