.FloatNav__links {
    width: 10rem;
    height: 22rem;
    box-sizing: border-box;
    position: fixed;
    right: 4rem;
    top:  20%;
    gap : 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: green;
    color: rgb(255, 255, 255);
    z-index: 90;
}

.FloatNav__link {
    text-decoration: none;
    direction: none;
    font-size: 2rem;
    color: white;
    display: flex;
    gap: 60px;
}

/* .floatNav_overlay{
    width: 10rem;
    height: 22rem;
    background: red;
    opacity: 0.5;
    position: fixed;
    z-index: 105;
} */