.Our_product_section{
    width: 100%;
    height: fit-content;
    background-color: #008080;
    overflow: hidden;
}

.product_heading_container{
    width: 100%;
    height: 10rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product_head_text{
    color: white;
    font-size: 4rem;
    overflow: hidden;
}

.product_heading_spans{
    width: fit-content;
    height: fit-content;
   overflow: hidden;
}

/* product design */

.products_container{
    width: 100%;
    height: 47rem;
    background: transparent;
}
