.our_service_section {
    width: 100%;
    height: fit-content;
   background-color: #5e548e;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.our_service_heading {
    width: 100%;
    height: 10rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service_heading_spans {
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}

.service_head_text{
    color: white;
    font-size: 3rem;
    overflow: hidden;
    font-family: 'Ppsupplymono' ,sans-serif;;
}

.service_container{
    width: 100%;
    height: fit-content;
}